@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --verde: #2a7d2e;
  --fondo: #f4f4f4;
  --verde-hover: #1f5c22;
  --shadow: 0 2px 4px rgba(0,0,0,0.1);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.swal2-confirm {
  background-color: var(--verde) !important;
  color: white;
}

.swal2-confirm:hover {
  background-color: var(--verde-hover) !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
 
}

.page-title {
  text-align: center;
  padding:1em;
}


/* ESTILOS NAVBAR */

.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  height: 85px; 
  box-shadow: var(--shadow); 
}

.navbar img {
  width: 90px; 
  height: auto;
  object-fit: contain;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 25px;
  flex: 1;                 
  max-width: 600px;
}

nav a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}

nav a:hover {
  color: var(--verde-hover);
}

nav a.active {
  color: var(--verde);
  font-weight: 700;
} 


/* ESTILOS EXTRAS */

.cartwidget {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartwidget img {
  width: 28px; 
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

/* ESTILOS DEL HOME */

.home-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 0em 0em 3em 3em;
}

.home-button {
  background-color: var(--verde);
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.home-text {
  position: absolute;
  top: 40%;
  right: 4em;
  color: white;
  padding: 1em 5em;
  border-radius: 10px;
  width: 80%;
}

.home-text h1 {
  font-size: 4em;
  margin: 0 0 0.5em 0;
}

.home-text p {
  font-size: 1.4em;
  width: 70%;
  font-weight: 500;
}

.home-info {
  display: flex;
  justify-content: space-around;
  margin: 3em 3em;
  padding: 4em 2em;
  gap: 2em;
}

h3 {
  color: var(--verde);
  margin-top: 0;
  font-size: 3em; 
}

h5 {
  font-size: 1.2em;
  color: var(--verde);
  font-weight: 700;
}

.home-info-text p {
  width: 70%;
  font-weight: 500;
  color: #2b2b2b;
  line-height: 1.5em;
  text-align: justify;
}

.home-info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3em;
}

/* ESTILOS DE PRODUCTOS */

.view-button {
  background-color: transparent;
  font-weight: 600;
  color: var(--verde);
  padding: 0.6em 1.7em;
  border-radius: 7px;
  border: solid 2px var(--verde);
  cursor: pointer;
  text-decoration: none;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  padding: 0.8em;
}

.productos h3 {
  text-align: center;
  margin-top: 2em;
}


.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: var(--shadow);
  margin: 1em;
  width: 320px;
  text-align: center;
}

.product-img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 1em;
}

.product-name {
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 0 1em 0;
}

.product-details {
  font-size: 1em;
  color: #555;
  margin: 0.2em 0 0.5em 0;
}

.product-price {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--verde);
  margin: 0.5em 0;
}

.product-button {
  background-color: transparent;
  font-weight: 600;
  color: var(--verde);
  padding: 0.6em 1.7em;
  border-radius: 7px;
  border: solid 2px var(--verde);
  cursor: pointer;
  text-decoration: none;
}

.producto-detalle {
  width: 80%;
  padding: 2em;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  border-radius: 1em;
  margin: 2em auto;
  align-items: center;
}

.producto-detalle img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 1em;
}

.producto-info {
  padding: 2em;
  width: 50%;
  text-align: center;
}

.prod-detalle {
  font-size: 1.5em;
  color: #555;
  margin: 1em 0;
  font-weight: 500;
}

.prod-precio {
  font-size: 2em;
  font-weight: 700;
  color: var(--verde);
  margin: 1em 0;
}

.producto-info button {
  background-color: var(--verde);
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

/* ESTILOS DE CATEGORIAS */

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin: 2em 0;
  padding: 0.8em;
}

.categoria-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  box-shadow: var(--shadow);
  margin: 1em;
  width: auto;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.categoria-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1em;
}


/* ESTILOS DEL CARRITO */

.cart-widget {
  cursor: pointer;
  display: flex;
  gap: 0.5em;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
  border: 1px solid #e4e4e4;
  border-radius: 1em;
  margin: 1em 3em;
  background-color: #fafafa;
}

.cart-item p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
}

.cart h2 {
  margin: 2em 3em;
  font-size: 2em;
  color: var(--verde);
  font-weight: 700;
}

.cart-item .cart-precio {
  color: var(--verde);
  font-weight: 700;
  font-size: 1.2em;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5em;
}

.formulario {
  padding: 1em 2em;
  margin: 1em 3em;
  background-color: #fafafa;
  border: 1px solid #e4e4e4;
  border-radius: 1em;
  }

  .formulario div {
display: flex;
flex-direction: column;
  }

  .formulario input {
    border-radius: 0.8em;
    width: 500px;
    height: 40px;
    border: 1px solid #d7d7d7;
    margin: 1em 0em;
  }

  .formulario button {
    height: 40px;
    width: 80px;
    background-color: var(--verde);
    border-radius: 0.7em;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }

  .formulario button:hover {
    background-color: var(--verde-hover);
  }

/* ESTILOS DEL FOOTER */

footer {
 margin-top: 3em;
}

.footer hr {
  border-top: 2px solid #e4e4e4;
  margin: 0;
}

.footerRedes {
  display: flex;
  padding: 3em;
  margin: 0 2em;
}

.footerRedes img {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

.footerRedes button {
  background-color: var(--verde);
  padding: 0.8em 1.2em;
  color: white;
  font-size: 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.footerRedes div {
  width: 50%;
}

.copyright {
  text-align: center;
  padding: 1em;
  background-color: #2a7d2e ;
  color: #fff;
  font-size: 0.9em;
}
