@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --verde: #2a7d2e;
  --fondo: #f4f4f4;
  --verde-hover: #2a7d2e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fondo);
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  height: 85px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05); 
}

.navbar img {
  width: 90px; 
  height: auto;
  object-fit: contain;
}


nav {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 25px;
  flex: 1;                 
  max-width: 600px;
}

nav a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}

nav a:hover {
  color: var(--verde-hover);
}

nav a.active {
  color: var(--verde);
  font-weight: 700;
}

.cartwidget {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartwidget img {
  width: 28px; 
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

footer {
 font-family: 'Inter', sans-serif;
}

.footer hr {
  border-top: 2px solid #ccc;
  margin: 0;
}

.footerRedes {
  display: flex;
  padding: 3em;
  margin: 0 2em;
}

.footerRedes img {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

.footerRedes button {
  background-color: var(--verde);
  padding: 0.8em 1.2em;
  color: white;
  font-size: 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.footerRedes div {
  width: 50%;
}

.copyright {
  text-align: center;
  padding: 1em;
  background-color: #2a7d2e ;
  color: #fff;
  font-size: 0.9em;
}
