:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  color: darkgreen;
  background-color: #ededed;
}

a {
  font-weight: 500;
  color: #1d1d1d;
  text-decoration: inherit;
}
a:hover {
  color: green;
}




